.text-gray-dark-light {
	color:#404040;
}

.btn.btn-primary {
    background-color: #3BBFEE;
	border-color:#3BBFEE;
}

.btn.btn-secondary{
    background-color: #3BBFEE;
	border-color:#3BBFEE;
}

.o_carousel_product_control{
	background-color: #3BBFEE;
}

.card {
	border: 0px solid #FFFFFF;
}